*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: '';
}
nav {
    background-color: none;
    box-shadow: 3px 3px 5px rgba(0,0,0, alpha);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.hov:hover{
    background-color: red;
}
