c/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base styles */
body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "source sans 3", sans-serif; 
    height: 100vh;
    width: 100%;
    padding-top: 200px ;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
}
.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.nav_list  {
    display: flex;
    column-gap: 40px;
    font-size: 12px;

}
.logo {
    height: 50px;
    display: flex;
    align-items: center;
}
.navlinks {
    color: white;
    text-decoration: none;
}
.getschool {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    justify-content: space-between;
}
.get {
    color: white;
    font-size: 120px;
    font-weight: bolder;
}
.sp {
    color: white;
    word-spacing: 100px;
    padding: 50px;
}
.but {
    color: white;
    border: 1px solid rgb(194, 113, 255);
    border-radius: 35px;
    background-color: rgb(194, 113, 255);
    padding: 20px;
    font-size: 20px;
}
.learn{
    font-size: 30px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding bottom: 20px;
    justify-content: center;
}
.smile {
    display: flex;
    justify-content: space-between;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.smile h3{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.smile p {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
/* Quote section */
.quote {
    background-color: rgb(194, 113, 255);
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.quoteimg{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 50px; 
    padding-left: 300px;   
}
.quoteimg blockquote {
    color: white;
    padding: 50px;
    max-width: 580px;
    padding-bottom: 25px;
    line-height: 30px;
}
.quoteimg h3 {
    color: white;
    padding-left: 50px;
    padding-top: 1px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.quoteimg p {
    color: white;
    padding: 50px;
    padding-top: 1px;
}
/* Video section */

.vidssec{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 15px;
    gap: 30px;
    
}
.vidsec h2 {
    font-size: 30px;
}
.vidsec{
    color: rgb(19, 18, 18);
    justify-content: center;
    max-width: 1200px;
    margin: 0 700px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 180px;
    padding-bottom: 25px;
}
.vidssec h3, p {
    font-weight: bolder;
    padding: 10px;

}
.vidssec p {
    font-weight: bolder;
    color: rgb(201, 195, 195);
    padding: 10px;
}
.rating {
    display: flex;
    color: rgb(194, 113, 255);
    align-items: center;
    padding-top: 10px;
}
.userRating {
    align-items: center;
}
.work {
    align-items: center;
    display: flex;
    gap: 10px;
}

/* Free Membership Section */
.membership {
    background-color:rgb(7,22,41);
    justify-content: center;
    padding: 100px;
    align-items: center;
}
.membership h2 {
    align-items: center;
    padding-left: 700px;
    font-size: 40px;
    color: white;
    font-weight: 10px;
}
.mem {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    padding: 80px;
    color: white;
}
.mem h3 {
    justify-content: end;
    color: rgb(#fff);
    font-size: large;
    padding-left: 30px;
    padding-bottom: 10px;
    font-weight: bold;
}
.mem p {
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 30px;
    font-size: small;
}
.mem img {
    padding: 30px;
    padding-left: 50px;
}
.reg {
    color: white;
    border: 1px solid rgb(194, 113, 255);
    border-radius: 35px;
    background-color: rgb(194, 113, 255);
    padding: 20px;
    font-size: 15px;
    margin-left: 750px;
}
/* FAQ section */
.faq {
    align-items: center;
    justify-content: center;
}
.faq h2 {
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin-top: 50px;
    margin-left: 850px;
    padding: 50px;
}
.faqq {
    display: flex;
    padding: 20px;
    gap: 50px;
}
.faqh {
    font-size: 15px;
    font-weight: bolder;
    padding: 50px;
    padding-bottom: 5px;
    margin-left: 250px;
}
.faqp {
    color: rgba(113, 135, 138, 0.747);
    padding: 50px;
    padding-top: 20px;
    margin-left: 250px;
}
/* footer section */
.footer {
    background-color: rgb(7,22,41);
    padding: 70px;

}
.soc {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    gap: 30px;

}
.fter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.footer p{
    color: #fff;
    margin-left: 850px;
    padding-top: 90px;
    padding-bottom: 5px;
}